/* You can add global styles to this file, and also import other style files */
body{
    line-height: 1;
    width: 95vw;
    overflow-x: hidden;
    padding-bottom: 80px;
}

app-root{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}