div{
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h3{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
    background-color: white;
}
/* en tarjeta-categoria.component.css */
.categoria-bg {
  min-height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}