#container{
    display: flex;
    justify-content: space-between;
    width: 80px;
    background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
}

button{
    border: unset;
    font-weight: bold;
    background-color: antiquewhite;
    padding: 0 10px;
}

span{
}